{% extends "base.html" %} 

{% block content %}
<p>sup {{ username }}!</p>

{% for user in users %}
{% if user.username == "barnaby" %}
<div class="col">
  <div class="card h-100">
    <img src="" class="card-img-top dog-image" alt="Cute Dog" />
    <div class="card-body">
      <h5 class="card-title fw-bold">
        {{ user.first_name }} {{ user.last_name }}
      </h5>
      <p class="card-text">@{{ user.username }}</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">View Profile</a>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}



{% endblock %}